*{
  margin: 0;
  top: 0;
  box-sizing: border-box;
}
body{
  background-image: url("images/beautiful-abstract-clouds-of-smoke-over-a-black-background-in-studio-video.jpg");
  background-size: cover;
  
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
#header-nav {
  z-index: 10;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(5px);
  -webkit-transition: -webkit-transform 0.7s 0.3s ease;
  -moz-transition: -moz-transform 0.7s 0.3s ease;
  -ms-transition: -ms-transform 0.7s 0.3s ease;
  transition: transform 0.7s 0.3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
#header-nav.hide-nav-bar {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-backface-visibility: hidden;
}
a.menu-link {
  float: right;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
nav[role=navigation] {
  clear: right;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}
nav[role=navigation].active {
  max-height: 15em;
}
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  float: left;
  padding: 0.7em 0;
  
}
nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  font-size: 1.2em;
  
}
.menu-link {
  height: 30px;
  width: 100%;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  margin-top: 20px;
  background: #999;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.bar2 {
  margin-top: 30px;
}
.bar3 {
  margin-top: 40px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.brand {
  float: left;
  margin-left: 1em;
  padding: 1em;
}
.brand h1 {
  margin: 0;
  font-size: 2.3em;
}
@media screen and (min-width: 48.25em) {
  a.menu-link {
    display: none;
  }
  .js nav[role=navigation] {
    max-height: none;
  }
  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
    float: right;
  }
  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }
  nav[role=navigation] li a {
    border: 0;
  }
}
.container {
  max-width: 72em;
  margin: 0 auto;
}

