 @import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


a:hover{
    color: gold;
}

.me{
    flex-direction: row;
    margin-top: 8em;
    display: flex;
    gap: 20px;
    margin-left: 12%;
    margin-right: 12%;

    > .me1 {

       > img{
        width: 18rem;
        height: 20rem;
        border-radius: 10px;
       }
    }

    > .me2{
        width: auto;
        
        > p1, p2{
            color: #d8cbc4;
            font-size: 250%;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
           }
    }
}

#aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    z-index: -10;

    > .box{
        text-align: center;
        border-radius: 15px;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        background: transparent;
        backdrop-filter: blur(5px);
        width: 100%;

        >h1{
            color: #000000;
            font-family: 'Archivo', sans-serif;
            font-size: 3.0em;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        >p{
            padding: 0 5%;
            margin-bottom: 30px;
            color: #d8cbc4;
            letter-spacing: 0.9px;
            font-family: 'Amaranth', sans-serif;
        }
    }
}

#education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    width: 100%;

    > h1{
        color: #000000;
        font-family: 'Archivo', sans-serif;
        font-size: 3.5em;
    }
    

    > .edu-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        > .edu{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 350px;
            > h2{
                color: #000000;
                font-family: 'Archivo', sans-serif;
                font-size: 30px;
                padding: 20px 0;
            }
        
            > img{
                width: 150px;
                height: 150px;
            }
        
            > a{
                padding: 20px 0;
                text-decoration: none;
                font-size: larger;
                
            }
        }
    }
}
/*
#projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 12%;
    text-align: justify;
    
    >h1{
        color: #000000;
        font-family: 'Archivo', sans-serif;
        font-size: 3.5em;
        margin-top: 12%;
    }

    

    >.card1{
      display: flex;
      justify-content: space-evenly; 
      gap: 3%;
      margin-bottom: 10%;
    }

    >.card2{
      display: flex;
      justify-content: space-evenly; 
      gap: 3%;
      margin-bottom: 10%;
    }
}

.content{
    color: white;
    font-size: large;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    
    >p{
        color: #d8cbc4;
        font-family: 'Amaranth', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    > h2{
        padding-bottom: 15px;
        color: #000000;
        font-family: 'Archivo', sans-serif;
        font-size: 35px;
    }
}

img{
    width: 250px;
    height: 250px;
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

button:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
}

button:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}

button:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}
*/

#Projects{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    >h1{
        color: #000000;
        font-family: 'Archivo', sans-serif;
        font-size: 3.5em;
        padding-top: 80px;
        padding-bottom: 30px;
    }
}

.switch{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-color: #000000;
    border-style: solid;
    background: transparent;
    backdrop-filter: blur(5px);
    font-size: 1.5rem;
    gap: 10px;
    
    

    >button{
        background-color: transparent;
        border-style: none;
        padding: 20px 30px;
        color: black;
        font-weight: 600;
        transition: background-color 0.5s linear;
    }
}

#robotics{
    
    > h2{
        padding-top: 55px;
        padding-bottom: 10px;
        color: black;
        font-family: 'Archivo', sans-serif;
        font-size: 35px;
    }
}

#ml{
    transition: background-color 0.5s linear;
    > h2{
        padding-top: 55px;
        padding-bottom: 10px;
        color: black;
        font-family: 'Archivo', sans-serif;
        font-size: 35px;
    }
}
#web{
    transition: background-color 0.5s linear;
    > h2{
        padding-top: 55px;
        padding-bottom: 10px;
        color: black;
        font-family: 'Archivo', sans-serif;
        font-size: 35px;
    }
}
.crd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    
    
    >p{
        color: #d8cbc4;
        font-family: 'Amaranth', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    > h2{
        padding-top: 15px;
        padding-bottom: 10px;
        color: black;
        font-family: 'Archivo', sans-serif;
        font-size: 35px;
    }
    > img{
        width: 250px;
        height: 250px;
    }

    >a{
        text-decoration: underline;
        font-style: italic;
    }
}


#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/background3.avif");
    background-size: cover;
    margin-top: 30px;
    color:#000000;

    > h1{
        padding-top: 15px;
        padding-bottom: 10px;
        color: #807f7f;
        font-family: 'Archivo', sans-serif;
        font-size: 40px;
    }

    > .contacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;

        > .cont{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-style: solid;
            border-width: 3px;
            border-radius: 10px;

            > p1{
                font-size: xx-large;
                padding: 10px;
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
            }

            > a{
                padding: 10px;
                font-size: 20px;
            }
        }
    }

    > h2{
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

.sc-icons {
    padding-top: max(0.7vw, 0.65vh);
    padding-bottom: 20px;
    display: flex;
    column-gap: 25px;
    font-size: max(5vh, 5vw);
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    display: inline-flex;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 60%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
    column-gap: 25px;
    align-items: center;
  }
  
  li.link:hover {
    transition: all 700ms;
    opacity: 2;
    transform: scale(1.1);
  }
  
  .icon:hover {
    outline-offset: 4px;
  }
  
  .icon i {
    margin: auto;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon img {
    width: 30px;
    aspect-ratio: 1;
  }
  
  .icon:hover i,
  .icon:hover img {
    animation: shake 0.25s;
  }
  
  .icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%);
    outline-color: #a02d76;
    color: white;
  }
  
  .icon--twitter:hover {
    background-color: #292929;
    outline-color: #ffffff;
    color: white;
  }
  
  .icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
    color: white;
  }
  
  .icon--facebook:hover {
    background-color: rgb(40, 85, 182);
    outline-color: rgb(40, 85, 182);
    color: white;
  }
   
 @media (width > 740px) {
    .me2{
        > p2{
            display: none;
        }
    }

    .box{
        margin: 0 12%;
        font-size: 20px;
    }

    .switch{
        justify-content: space-between;
        width: 50%;
        padding: 10px;
        border-radius: 100px;

        >button{
            border-radius: 100px;
        }
    }

    .crd{
        width: 30%;
    }
 }

 @media (width <= 740px) {
    .me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .me2{
        font-size: 15px;

        >  p1{
            display: none;
        }
    }

    .box{
        margin: 0 10%;
        font-size: 1.2rem;
    }
    .card1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .switch{
        justify-content: center;
        width: 80%;
        padding: 10% 5%;
        border-radius: 80px;

        >button{
            border-radius: 25px;
        }
    }

    .crd{
        width: 70%;
    }
    .content{
        margin-top: 15px;
        text-align: justify;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        >h2{
            text-align: center;
        }
    }
 }